.App {
    margin-left: 10px;
}

.task-name{
    width: 300px;
    margin-right: 20px;
}

.task-list {
    margin-top: 12px;
}

.task-item {
    margin: 12px 0px;
}

.item {
    display: block;
}

table tr td {
    padding-right: 50px;
    padding-bottom: 12px;
    width: 278px;
}